:root {
	--pixel-bg: #5a70be;
		/* â Inner background color */
	
	--pixel-border: black;
	/* â Inner border color */
	
	--pixel-border-2: white;
	/* â Middle border color */
	
	--pixel-border-3: var(--pixel-border);
	/* â Outer border color */
	
	--pixel: .175rem;
	/* â Pixel size */
}

.gifDiv {
	 height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.secContent {
	padding: 0px 15px 12px;
	background: var(--pixel-bg);
	box-shadow:
		
	/* Inner Background Color */
		0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -6) var(--pixel-bg),
		
	/* Pixel Border Layer 1 */
		calc(var(--pixel) * -1) 0 0 0 var(--pixel-border),
		var(--pixel) 0 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * 2) 0 0 var(--pixel-border),
		0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border),
		0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border),
		0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -6) var(--pixel-border),
		
	/* Pixel Border Layer 2 */
		calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2),
		calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 
		0 var(--pixel) 0 var(--pixel) var(--pixel-border-2),
		0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2),
		0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2),
		0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2),
		0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2),
		0 calc(var(--pixel) * -14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		0 calc(var(--pixel) * 14) 0 calc(var(--pixel) * -6) var(--pixel-border-2),
		
	/* Border Layer 3: --pixel-border-3 */
		calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3),
		calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3),
		0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3),
		0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3),
		0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3),
		0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3),
		0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 
		0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3),
		0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 
		0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3),
		0 calc(var(--pixel) * -15) 0 calc(var(--pixel) * -6) var(--pixel-border-3), 
		0 calc(var(--pixel) * 15) 0 calc(var(--pixel) * -6) var(--pixel-border-3);
		
		/*inset 0 -20px 0 0 lightGreen, inset -20px 0 0 0 lightGreen, inset 0 20px 0 0 lightGreen, inset 20px 0 0 0 lightGreen*/
			
}

/*
 *
 *
 * 
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */
body, html {
	  height: 100%;
	  font-family: Verdana, sans-serif;
	  font-weight: bold;
	  background-color: #333771;
	  color: white;
	}

.title {
	width: 500px;
	display: flex;
	align-self: center;
	justify-content: center;
	font-size: 30px;
	text-align: center;	
	margin: auto;
	margin-top: 20px;
	padding: 5px;
	
	border: 5px;
 	border-top-right-radius: 25px;
  	border-top-left-radius: 25px;
  	background-color: #f19d9c;
}

.section {
  overflow: hidden;
  border: 3px solid white;
  padding: 5px;
  background-color:#7278a9;
  margin: 0px 13px 0px;

  }

.section button {
  background-color: inherit;
  float: left;
  border: medium;
  outline: black;
  cursor: pointer;
  padding: 14px 14px;
  transition: 0.3s;
  font-weight: bold;
    color: white;
  
}

.section button:hover {
  background-color: #dddddd;
}

.section button.active {
  background-color: #262a40;
    color: white;
}

.secContent {
	display: block;
  border: 1px solid white;
  border-top: none;
  margin: 40px 20px 20px;
}

.listbtn {
  padding: 5px;
}



.cancelbtn, .addbtn, .logoutbtn, .listbtn {
	height: 30px;
	width: 90px;
	background-color: #f19d9c;
	margin: 5px;
	border: 3px solid white;
	font-weight: bold;
	color: white;
}	

.listDiv {
  margin-top: 20px;
  margin-bottom: 15px;


}






input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0px;
  display: inline-block;
}

input[type=submit] {
  background-color: #f19d9c;
  color: white;
  padding: 10px 20px;
	border: 3px solid white;
	font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}



.secContainer {
  border-radius: 10px;
  background-color: #b0b8d3;
  padding: 3px 20px 20px;
  margin: auto;
}

table {
text-align: left; 
text-justify: inter-word;
}


.rowTerm
{
  text-align: left;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  padding: 5px;
}

.pickDiv {
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

