<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Vocab Bank (Prototype)</title>
	<link rel="stylesheet" href="/vocabBankLoginStyle.css">
</head>
	<body>
		<div class="title"><b>VOCAB BANK</b></div>
		<div id="AccountSec" class="secContent">
			<form action="/vocab_Login" method="post" name="accessAccForm">	
			  	<h3>Log In Account</h3>
			  	<div class="accSecMDiv">
				  	<div class="accSecDiv">
				  		<label for="username"><b>Username</b></label>
				  		<input type="text" placeholder="Enter your username" name="username" required>
				  	</div>
			  		<div class="accSecDiv">		
			  			<label for="password"><b>Password</b></label>
			  			<input type="password" placeholder="Enter your password" name="password" required>
			  		</div>
			  		<div class="accSecDiv">	
				  		<label>
				      		<input type="checkbox" checked="checked" name="remember" style="margin-bottom: 3px">  Remember me
				      	</label>	
			  		<div class="clearfix" style="padding-left: 12px;">
			     	 	<button type="submit" class="signupbtn">Login</button>
			     	 	<button type="reset" class="cancelbtn">Cancel</button>
			     	 	<p style="padding-left: 5px;">Don't have an account? <a href="/" style="color: dodgerblue">Sign Up</a> instead.</p>
			    	</div>
					<div class="gifDiv"></div>
			    	</div>
			    </div>
		  	</form>
		</div>
	
	   		
	</body>
</html>