<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Vocab Bank (Prototype)</title>
	<link rel="stylesheet" href="/vocabBankLoginStyle.css">
</head>
	<body>
    <form action="/vocabBank_Err" method="post">
      <h2>
        Error!
      </h2>
      <p>Invalid input or duplicate entries! Click <a href="/">here</a> to return on the main page.</p>
    </form>
  </body>
</html>
